body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #4BADCE;
    Background-color: #EEFDFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
color:#ff4da6;
}

a:hover{
color:#99004d;
}

.intro{
background-color:#ffe6f2;
padding:15px;
}

.brands{
background-color:#e6f7ff;
padding:15px;
}

.table-section{
background-color:#fff0cc;
padding:15px;
}

.highlight{
color:#cc0066;
font-weight:bold;
}

#main{
margin:20px;
}
